div [role="tab"]{
    cursor:pointer;
    padding:5px;
    margin-bottom:10px;
    list-style: none;
    border:2px solid purple;
    width:50%;
    border-radius: 5px;
}
div [role="tab"]:hover{
    background-color:plum;
}


div [role="tabpanel"]{
    padding:0;
    opacity:1;
    position:relative;
}