#accordeon {
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
}

#accordeon li{
    width : 107px;
    transition : all 1s;
    background-color: #eee;
    overflow: hidden;
    display: inline-block;
    margin:3px;
    padding:5px;
    list-style: none;
    border-radius: 5px;
}

#accordeon li.actif {
    width: 317px;
}

#accordeon li figure {
    margin : 0px;
    vertical-align: middle;
    width:317px;
}

#accordeon li figure figcaption {
    width: 200px;
    padding: 10px;
    vertical-align:middle;

}

#accordeon li figure figcaption > * {
    margin:0;
    padding:0;
}